#skills-div {
  text-align: left;
}

.tecnologies-titles {
  text-wrap: nowrap;
  font-size: 100%;
  width: 50%;
}

.tecnologies-titles:hover {
  background-color: var(--light-purple);
}

.tecnologies-titles.dark {
  background: linear-gradient(to bottom right, var(--background), rgb(39, 36, 36));
  border: 1px solid var(--gray-own);
  color: var(--light-purple);
}

.soft-skills {
  font-weight: 100;
  color: var(--violet-ocean);
}
.soft-skills:hover{
  color: var(--ciel);
  font-weight: 400;
  font-style: normal;
  animation: pulse 1.5s infinite;
}

.soft-skills.dark {
  color:var(--gray-own);
}

h4.dark {
  color: grey;
}

aside button {
  width: 70%;
  min-width: 70px;
  margin: 0 auto;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #skills-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal-section {
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajusta el ancho para ocupar el 100% en pantallas pequeñas */
  }
  aside button {
    width: 100%; /* El ancho de cada botón será el 100% del contenedor */
    max-width: 200px; /* Opcional: Define un máximo para que no sean demasiado grandes */
    padding: 0.5rem; /* Ajusta el relleno para que se vean bien */
    margin-bottom: 1rem; /* Espacio entre los botones */
    text-align: center;
  }

  .tecnologies-titles,
  .soft-skills {
    text-align: center;
    margin-bottom: 1rem; /* Añade espacio entre los elementos */
  }

  .icon-img {
    width: 60px; /* Ajusta el tamaño de los íconos en pantallas pequeñas */
    height: auto;
  }
}
