#skills-div {
  text-align: left;
}

.tecnologies-titles {
  text-wrap: nowrap;
}

.tecnologies-titles:hover {
  background-color: var(--light-purple);
}

.tecnologies-titles.dark {
  background: linear-gradient(to bottom right, var(--background), rgb(39, 36, 36));
  border: 1px solid var(--gray-own);
  color: var(--light-purple);
}

.soft-skills {
  font-weight: 100;
  color: var(--violet-ocean);
}
.soft-skills:hover{
  color: var(--ciel);
  font-weight: 400;
  font-style: normal;
  animation: pulse 1.5s infinite;
}

.soft-skills.dark {
  color:var(--gray-own);
}

h4.dark {
  color: grey;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}